/*Inspiration von https://t3n.de/news/anleitung-css3-buttons-ohne-grafiken-erstellen-294047/*/
body {
    background-color: black;
}
    
li {
    float:left;
}
ul {
    list-style-type: none;
}
.fa-play {
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-left: 35%;
    margin-top: 15px;
    
}
.fa-play:hover{
    color: rgb(201, 201, 201);
}
.fa-pause{
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-left: 35%;
    margin-top: 15px;
    
}
.fa-pause:hover{
    color: rgb(201, 201, 201);
}
.fa-microphone{
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-left: 0px;
    margin-top: 15px;

}
.fa-microphone:hover{
    color: rgb(201, 201, 201);
}
.fa-trash-alt{
    color: white;
    font-size: 80px;
    padding-left: 30px;
    margin-left: 0px;
    margin-top: 15px;
   
}
.fa-trash-alt:hover{
    color: rgb(201, 201, 201);
}
.list1 {
   display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:2%;
}
.list2 {
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:0.09%;
}
.list3 {
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:0.09%;
}
.button1 { 
   background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 12px;
   position: flex;
   margin-left: 0px;
}
.button1:hover{
    background-color:  #db67d2;
}
.button2 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 12px;

}
.button2:hover{
    background-color:  #db67d2;
}
.button3 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button3:hover {
    background-color:  #db67d2;
}
.button4 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button4:hover {
    background-color:  #db67d2;
}
.button5 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button5:hover{
    background-color:  #db67d2;
}
.button6 {
    background-color:  #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button6:hover {
    background-color:  #db67d2;
}
.button7 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button7:hover{
    background-color:  #db67d2;
}
.button8 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button8:hover{
    background-color:  #db67d2;
}
.button9 {
    background-color: #9097ff;
    width: 150px;
    height:150px;
    border: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #000;
}
.button9:hover{
    background-color:  #db67d2;
}




